#include "stm32f746g_disco.dtsi"

/ {

	eeprom1: eeprom1 {
		status = "okay";
		compatible = "zephyr,emu-eeprom";
		size = <DT_SIZE_K(4)>;
		pagesize = <DT_SIZE_K(8)>;
		partition = <&eepromemu_partition>;
		rambuf;
	};

	aliases {		
		eeprom-1 = &eeprom1;
	};				
};
